/*
	@name grid_for_webdesign___1200___960___940_px__community_
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1920px;  margin-left: auto; margin-right: auto;  }

#content-container > div{ position: relative; top:inherit; }
#page_plugin___file_cover___1_ek1 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 960px;
}

#_bg__plugin___file_cover___1_ek2 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 960px;
	background:rgba(25.1,44.35,66.94,1);
}


#image_1 {
	top: -184px;
	left: 39px;
	width: 837.36px;
	height: 1254.21px;
}


#grids {
	top: 211px;
	left: 968px;
	width: 544px;
	height: 314px;
	overflow: hidden;
	font-family: Righteous;
	font-size: 162px;
	text-align: left;
	color:#FFFFFF;
}


#_1200px___960px___940px {
	top: 608px;
	left: 960px;
	width: 500px;
	height: 81px;
	overflow: hidden;
	font-family: Righteous;
	font-size: 42px;
	text-align: left;
	color:#04D1A0;
}


#free_grid_templates {
	top: 412px;
	left: 1013px;
	width: 401px;
	height: 98px;
	overflow: hidden;
	font-family: Rift;
	font-size: 52px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#__2_type_ {
	top: 671px;
	left: 1166px;
	width: 92px;
	height: 42px;
	overflow: hidden;
	font-family: Righteous;
	font-size: 22px;
	text-align: left;
	color:#FFFFFF;
}


#__2_type__ek1 {
	top: 671px;
	left: 1336px;
	width: 92px;
	height: 42px;
	overflow: hidden;
	font-family: Righteous;
	font-size: 22px;
	text-align: left;
	color:#FFFFFF;
}


#__3_type_ {
	top: 676px;
	left: 988px;
	width: 93px;
	height: 42px;
	overflow: hidden;
	font-family: Righteous;
	font-size: 22px;
	text-align: left;
	color:#FFFFFF;
}



/* Add your custom CSS here */
